# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/3DAirHockey/AirHockey/proj.ios_mac
/3DAirHockey/AirHockey/proj.linux
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/.suo
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/Browse.VC.db
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/Solution.VC.db
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/12087da07fdfb4f6.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/175a60187c2b863/GAMESCENE.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/1a89dd8093d1815c/CCAUDIOMNG.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/20f90d69905ac24d/HOSTSCENE.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/2aaeec360aa0f1dd/EFFEKSEER.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/2afd69be5c1a466f/APPDELEGATE.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/2f1cc689e2f77592/OPRT_TOUCH.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/3329122fad04bbd9/NETWORKLOGIC.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/3c5850f0ecf2a5fc/RESULTSCENE.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/4ab3368c49bfc8f1/APPINFO.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/51bfebc20b96117d/UI.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/6210a7faf48bd2d1/NETWORKLOGIC.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/6254fc8d020bca9b/GAMEMANAGER.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/701ab55891fcbfd0/CONSOLEOUT.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/70e780d04f2ec1c9/OPRT_NETWORK.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/79e602daeb1d928/OPRT_STATE.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/7d5c673399691414/SHADOW.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/928f7cd1ac29dc37/APPDELEGATE.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/9cfcd5f8fd62ee28/CONSOLEOUT.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/a86cb5c554b73d0f/PLAYER.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/a8a38846f4724f6a/OPRT_TOUCH.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/ac0355518f921753/MOUSECTL.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/cd7f5d070a884a21/BALL.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/d50da64e017df2a1/ANIMMNG.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/d862f0a3644e69d4/OPRT_GYRO.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/db1777f13d4f4081/OPRT_NETWORK.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/e2c6cd76b02b5072/TRAJECTCONTROL.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/e522471843a2a5fd/OBJ.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/e5c10726668cbf13/GAMEMANAGER.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/e770f9ced5b4ae41/PLAYER.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/e926e9c9b4c5a980/OPRT_KEY.ipch
/3DAirHockey/AirHockey/proj.win32/.vs/AirHockey/v15/ipch/AutoPCH/f314243f7266825/TITLESCENE.ipch
